<div id = "home-background">
	<img src = "/assets/background.png" alt="">
</div>
<%= link_to image_tag("starlogo.png", alt: "The Warrior-Scholar Project"), 'http://www.warrior-scholar.org' %>
<div class = "container">
<h1>Your next mission:</br>
College. </h1>
<%= link_to "Get to work.", '#', class: "home-page-style-button" %>
<p> The Warrior Scholars Project Horizon helps extraordinary </br> veterans become leaders in the classroom.</p>
</div>
