 <% provide(:bodyclass, 'map') %>
 <% provide(:pbarimg, 'progressbar5.png') %>
<body class = "map">
<div class="header" id="mapheader">
</div>
 
 <div class="containerformargin">
	<%= link_to image_tag("logogrey.png", alt: "The Warrior-Scholar Project", id: "logogrey"), '/' %> <div id="title">Warrior Scholar Project</div>
	<%= image_tag("#{yield(:pbarimg)}", id: "progressbar") %>


</div>
<div class="ttlcontainer">Thank You for Joining the Thousands of Veterans Committed to<br>Preparing our Troops for College</div>

<div class="subttlcontainer">The men and women you served beside were your greatest asset in uniform, and will be your greatest asset in university and college. Now it's your turn to help.<br><br> Think about the challenges and mindsets you've learned about from curent veterans students. Prepare our troops returning to college by sharing below two concrete examples of ways they can turn each challenge into a strength to succeed as warrior-scholars.</div>




<div id="map" style="width: 800px; height: 600px;"></div>

<br>

<div> Warrior Scholar Project Horizon. </div>
</body>
