 <% provide(:bodyclass, 'map') %>
 <% provide(:pbarimg, 'progressbar5.png') %>
 <% content_for :head do %>
 	<%= render 'shared/google-maps' %> 
 <% end %>
 
 <div class="containerformargin">
	<%= link_to image_tag("logogrey.png", alt: "The Warrior-Scholar Project", id: "logogrey"), '/' %> <div id="title">Warrior Scholar Project</div>
	<%= image_tag("#{yield(:pbarimg)}", class: "hidden-800", id: "progressbar") %>


</div>
<div class="ttlcontainer">Thanks for joining our nation's Warrior-Scholars</div>

<div class="subttlcontainer">Check out the map to see advice and encouragement from other veteran-students.</div>




<div class= "cel" id="map" style="width: 85%; height: 600px;"></div>

<br>

<div> Warrior Scholar Project Horizon. </div>
