 <% provide(:bodyclass, 'map') %> 
 
 <div class="containerformargin">
	<%= link_to image_tag("logogrey.png", alt: "The Warrior-Scholar Project", id: "logogrey"), '/' %> <div id="title">Warrior Scholar Project</div>
	<%= image_tag("#{yield(:pbarimg)}", id: "progressbar", class: "hidden-800") %>

</div>
<div class="ttlcontainer">Mentors</div>

<div class="subttlcontainer" id="cel">Learn about the transition from combat to college from the experts: past and current Warrior-Scholars. Our mentors have first-hand experience navigating the transition back to school -- the application process, the culture shock, and the discovery that service backgrounds can empower extraordinary leadership on campus.</div>

<div id = "mentor-container">

<div class = "wrap">

<!-- each mentor box defined --> 

<div class = "box">
	<div class = "boxInner">
		<img src = "assets/personplaceholder.png" class= "mentor-image">
		<div class = "mentordescription">Mentor One Name</div>
	</div>
</div>
<div class = "box">
	<div class = "boxInner">
		<img src = "assets/personplaceholder.png" class= "mentor-image">
		<div class = "mentordescription">Mentor Two Name</div>
	</div>
</div>
<div class = "box">
	<div class = "boxInner">
		<img src = "assets/personplaceholder.png" class= "mentor-image">
		<div class = "mentordescription">Mentor Three Name</div>
	</div>
</div>
<div class = "box">
	<div class = "boxInner">
		<img src = "assets/personplaceholder.png" class= "mentor-image">
		<div class = "mentordescription">Mentor Four Name</div>
	</div>
</div>
<div class = "box">
	<div class = "boxInner">
		<img src = "assets/personplaceholder.png" class= "mentor-image">
		<div class = "mentordescription">Mentor Five Name</div>
	</div>
</div>
<div class = "box">
	<div class = "boxInner">
		<img src = "assets/personplaceholder.png" class= "mentor-image">
		<div class = "mentordescription">Mentor Six Name</div>
	</div>
</div>
<div class = "box">
	<div class = "boxInner">
		<img src = "assets/personplaceholder.png" class= "mentor-image">
		<div class = "mentordescription">Mentor Seven Name</div>
	</div>
</div>
<div class = "box">
	<div class = "boxInner">
		<img src = "assets/personplaceholder.png" class= "mentor-image">
		<div class = "mentordescription">Mentor Eight Name</div>
	</div>
</div> 

</div>
</div>