<div class="header">
</div>
<div class="containerformargin">
<%= link_to image_tag("logogrey.png", alt: "The Warrior-Scholar Project", id: "logogrey"), 'http://www.warrior-scholar.org' %> <div id="title">Warrior Scholar Project</div>
<%= image_tag("progressbar3.png", id: "progressbar") %>
<div class="videocontainer">
<iframe id="video" src="//player.vimeo.com/video/39461899"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>

<div class="footer">